@import '/variable.less';

.swiper-container {
  --td-swiper-radius: 0;
}

.rental-details {
  // background: #fff;
}

.media-tabs {
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 660rpx;
}

.media-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  padding: 6rpx 24rpx;
  border-radius: 32rpx;
  overflow-x: auto;
  white-space: nowrap;

  .nav-item {
    color: #fff;
    font-size: 24rpx;
    padding: 4rpx 20rpx;
    position: relative;
    border-radius: 16rpx;

    &.active {
      color: #333;
      background-color: #fff;
    }
  }
}

.discount-bar {
  height: 72rpx;
  background: linear-gradient(90deg, #FF4D4F, #FF7875);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24rpx;
  color: #fff;

  .discount-left {
    display: flex;
    align-items: center;
    gap: 8rpx;
    font-size: 28rpx;

    .crown-icon {
      width: 32rpx;
      height: 32rpx;
    }
  }

  .discount-right {
    font-size: 24rpx;
    background: rgba(255, 255, 255, 0.2);
    padding: 4rpx 12rpx;
    border-radius: 4rpx;
  }
}

.house-title {
  background: #fff;
  padding: 24rpx;
  display: flex;
  align-items: baseline;

  .title {
    font-size: 40rpx;
    font-weight: 500;
    color: #333;
    margin-bottom: 16rpx;
    flex: 1;
  }

  .price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8rpx;

    .current-price {
      font-size: 36rpx;
      font-weight: bold;
      color: #FF4D4F;
    }

    .price-unit {
      margin-left: 4rpx;
      font-size: 32rpx;
      color: #666;
    }

    .original-price {
      font-size: 24rpx;
      color: #999;
      text-decoration: line-through;
    }
  }
}

.rating-section {
  display: flex;
  align-items: center;
  padding: 16rpx 24rpx;
  background: #fff;

  .rating-left {
    display: flex;
    align-items: baseline;
    gap: 4rpx;

    .rating-evaluate {
      padding: 4rpx 12rpx;
      color: #fff;
      border-radius: 8rpx;
      background: rgb(10, 112, 147);
    }

    .rating-score {
      font-size: 32rpx;
      font-weight: bold;
    }

    .rating-total {
      font-size: 24rpx;
    }

    .rating-text {
      font-size: 36rpx;
      margin-left: 8rpx;
      font-weight: 500;
      color: rgb(10, 112, 147);
    }
  }

  .rating-right {
    margin-left: 8rpx;
    display: flex;
    align-items: center;
    gap: 8rpx;
    color: #666;
    font-size: 32rpx;
    text-decoration: underline;
  }
}



.facility-tags {
  background: #fff;
  padding: 24rpx;
  display: flex;
  flex-wrap: wrap;
  gap: 16rpx;

  .facility-tag {
    padding: 8rpx 16rpx;
    background: #F5F5F5;
    border-radius: 4rpx;
    font-size: 24rpx;
    color: #666;
  }
}

.tag-item {
  padding: 24rpx;
  display: flex;
  align-items: center;
  gap: 12rpx;
  border-bottom: 1rpx solid #f5f5f5;

  &.highlight {
    color: #FF4D4F;
  }

  .tag-desc {
    color: #666;
    font-size: 24rpx;
    margin-left: auto;
  }
}





.deposit-info {
  background: #F6F8FA;
  padding: 24rpx;
  display: flex;
  align-items: center;
  margin-top: 16rpx;

  .info-item {
    display: flex;
    align-items: center;

    +.info-item {
      margin-left: 40rpx;
    }

    .info-label {
      margin-left: 12rpx;
      font-size: 28rpx;
      color: #333;
    }

    .info-value {
      font-size: 28rpx;
      color: rgb(15,112,148);
    }
  }

  .arrow {
    margin-left: auto;
    color: #999;
    font-size: 24rpx;
  }
}




.location-card {
  padding: 24rpx;
  background-color: #fff;

  .location-info {
    position: relative;
    display: flex;
    align-items: center;

    border-radius: 24rpx;
    padding: 32rpx 28rpx;
    color: #333;

  }
}

.location-background-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.address-section {
  position: relative;
  flex: 1;

  .address-row {
    display: flex;
    align-items: flex-start;
    color: #333;

    +.address-row {
      margin-top: 24rpx;
    }

    .address-text {
      margin-left: 12rpx;
      line-height: 44rpx;
    }

    .map-icon {
      margin-top: 2rpx;
      width: 40rpx;
      height: 40rpx;
    }
  }
}

.map-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0077cc;
  width: 90rpx;
  height: 90rpx;
  cursor: pointer;

  .map-icon {
    width: 24px;
    height: 24px;
  }

  .map-text {
    font-size: 14px;
    margin-top: 4px;
  }
}


.cancel-order {
  margin-top: 24rpx;
  background: #F6F8FA;
  padding: 24rpx;
  border-radius: 16rpx;
  
  .cancel-order-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16rpx;
    
    .cancel-order-left {
      display: flex;
      align-items: center;
      gap: 12rpx;
      
      .cancel-title {
        font-size: 32rpx;
        font-weight: 500;
        color: #333;
      }
    }
  }
  
  .cancel-policy {
    padding: 12rpx 0;
    
    .policy-item {
      font-size: 28rpx;
      color: #666;
      line-height: 1.5;
    }
    .policy-item + .policy-item{
      margin-top: 16rpx;
    }
  }
}